[Unit]
Description=Auto delete files


[Service]
ExecStart=afdd %h
CPUWeight=1
IOWeight=1
PrivateNetwork=true
NoNewPrivileges=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
